/*!-----------------------------RESET----------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

body{
    background-color: rgb(34, 34, 34);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/* paleta de color{
    color-scheme:
    rgb(34, 34, 34)
    rgb(4, 4, 4)
    rgb(100, 41, 212)
    rgb(68, 214, 44)
    rgb(136, 136, 136)
    rgb(255, 255, 255)

} */
.fuente-principal{
    font-family: 'Gabarito', cursive;
}




/**-----------------------------HEADER----------------------------------*/
header{
    background-color: rgb(4, 4, 4);
    position: sticky;
    top: 0;
    z-index: 3;
}

.btn-p{
    background-color: aqua;
}


.barra-principal ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.barra-principal ul li a{
    font-family: "Josefin Sans", sans-serif;
    font-size: medium;
    text-decoration: none;
    color: rgb(136, 136, 136);
    

}

.nav-item .logo-nav{
    height: 100px;
    width: auto;
}

li {
    margin: 0.75rem;
}
.flex-container{
    width: 100%;
    border: 2px solid violet;
    /*CAJA FLEXIBLE*/
    display: flex;
}

.flex-container div{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 40px;

}




.barra-principal ul li a{
    transition: all 0.2s ease;
    

}

.barra-principal ul li a:hover{
    color: rgb(255, 255, 255);
    padding: 6px;
    

}










.barra-principal div div ul li:hover .menu-vertical{
    display: block;
}


.barra-principal .container-fluid button{
    background-color: rgb(100, 41, 212);
    color: rgb(136, 136, 136);
    
}
.dropdown-menu{
    width: 400px;
    height: auto;
}
/*?-----------------------------MAIN----------------------------------*/

main{
    background-color: rgb(34, 34, 34);
}


.carousel-inner .carousel-item .carousel-caption h5{
    font-size: 80px;
    font-weight: bold;
}

.carousel-inner .carousel-item .carousel-caption p{
    font-size: 20px;
    
}

.carousel-inner .carousel-item .carousel-caption{
    background-color: rgba(34, 34, 34, 0.315);
    
    
    
}

.texto-recomendacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.texto-recomendacion p{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.texto-recomendacion p .SuTu-palabra-recomendacion{
    font-size: 70px;
}

.texto-recomendacion p .SuTu-palabra-recomendacion .morado-sutu{
    color: rgb(100, 41, 212);
}


.separador{
    width: 100%;
    height: 15px;
    background-color:rgb(34, 34, 34);
}

.contenedor-corsair{
    height: 72vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(../img/linea-corsair1.png);
    flex-direction: column;

    
}


    
.contenedor-corsair img{
    
    border-radius: 5px;
}

.contenedor-corsair .texto-corsair-1{
    margin-top: 40px;
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}

.contenedor-corsair .texto-corsair-2{
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: rgb(238, 238, 238);
    
}
.contenedor-corsair .texto-corsair-3{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: rgb(100, 41, 212);
    background-color: rgba(4, 4, 4, 0.027);
    
    
}
.contenedor-corsair a{
    
    text-decoration: none;
    
}

.contenedor-corsair .texto-corsair-span{
    text-decoration:underline;
    color: rgb(236, 232, 26);
    
}

.contenedor-corsair .texto-corsair-span2{
    text-decoration:none;
    color: rgb(236, 232, 26);
    
}

/*RAZER*/

.contenedor-razer{
    height: 72vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(../img/linea-razer.webp);
    flex-direction: column;

    
}


    
.contenedor-razer img{
    
    border-radius: 5px;
}

.contenedor-razer .texto-razer-1{
    margin-top: 40px;
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}

.contenedor-razer .texto-razer-2{
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: rgb(238, 238, 238);
    
}
.contenedor-razer .texto-razer-3{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: rgb(100, 41, 212);
    
    
    
}
.contenedor-razer a{
    
    text-decoration: none;
    
}

.contenedor-razer .texto-razer-span{
    text-decoration:underline;
    color: rgb(68, 214, 44);
    
}

.contenedor-razer .texto-razer-span2{
    text-decoration:none;
    color: rgb(68, 214, 44);
    
}





.contenedor-logitech{
    height: 72vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(../img/linea-logitech.png);
    flex-direction: column;

    
}


    
.contenedor-logitech img{
    
    border-radius: 5px;
}

.contenedor-logitech .texto-logitech-1{
    margin-top: 40px;
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    color: rgb(34, 34, 34);
    
}

.contenedor-logitech .texto-logitech-2{
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: rgb(34, 34, 34);
    
}
.contenedor-logitech .texto-logitech-3{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: rgb(100, 41, 212);
    
    
    
}
.contenedor-logitech a{
    
    text-decoration: none;
    
}

.contenedor-logitech .texto-logitech-span{
    text-decoration:underline;
    color: rgb(0, 184, 252);
    
}

.contenedor-logitech .texto-logitech-span2{
    text-decoration:none;
    color: rgb(0, 184, 252);
    
}


.custom-btn1 {
    width: 500px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    
    font-size: 25px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.custom-btn {
    width: 400px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 25px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-7 {
    background: rgba(100, 41, 212);
    line-height: 42px;
    padding: 0;
    border: none;
}
    .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
    .btn-7:before,
    .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(100, 41, 212);
    box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
    .btn-7:before{
    height: 0%;
    width: 2px;
}
    .btn-7:after {
    width: 0%;
    height: 2px;
}
    .btn-7:hover{
    color: rgba(100, 41, 212);
    background: transparent;
}
    .btn-7:hover:before {
    height: 100%;
}
    .btn-7:hover:after {
    width: 100%;
}
    .btn-7 span:before,
    .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(100, 41, 212);
    box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
    .btn-7 span:before {
    width: 2px;
    height: 0%;
}
    .btn-7 span:after {
    height: 2px;
    width: 0%;
}
    .btn-7 span:hover:before {
    height: 100%;
}
    .btn-7 span:hover:after {
    width: 100%;
}








.whatsapp a img{
    position: fixed;
    top: 800px;
    right: 38px;
    width: 100x;
    height: 100px;

}
.texto-centrado{
    margin: 1%;
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.texto-centrado h1{
    color: rgb(79, 32, 13);
    font-size: 5em;
    text-align: left;
    
    
}

.logo{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    margin: 1%;
    width: 50%;
}
.logo img{
    width: 400px;
    height: auto;
    margin-top: 10px;
    

}

.logo h2 a{
    color: rgb(255, 132, 0);
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;

}




#destacados-grid{
    width: auto;
    height: auto;
}


#destacados-grid .texto-desctacado-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

#destacados-grid .texto-desctacado-grid img{
    width: 200px;
    height: auto;
    
}

#destacados-grid .texto-desctacado-grid h3{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-decoration: underline rgb(100, 41, 212);
}

.destacados-grid-container img{
    width: 720px;
    height: auto;
}

.destacados-grid-container p{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.destacados-grid-container .span-underline-oferta{
    text-decoration: underline red;
}

.destacados-grid-container .span-oferta{
    text-decoration:line-through;
    color: rgb(187, 187, 187);
}

.destacados-grid-container{
    display: grid;
    width: auto;
    margin: 20px;
    grid-template-columns:49% 49%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "crua-fhd sony-inzone"
    "msi-katana ryzen7"
    "msi-mpg samsung-sr35"
    ;
    grid-row-gap: 20px; 
}

.destacados-item-1{
    grid-area: crua-fhd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.destacados-item-2{
    grid-area: sony-inzone;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    
.destacados-item-3{
    grid-area: msi-katana;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.destacados-item-4{
    grid-area: ryzen7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.destacados-item-5{
    grid-area: msi-mpg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.destacados-item-6{
    grid-area: samsung-sr35;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-11 {
    border: none;
    background: rgb(251, 33, 117);
    background: linear-gradient(0deg, rgba(100, 41, 212, 1) 0%, rgb(134, 76, 241) 100%);
    color: #fff;
    overflow: hidden;
}

.btn-11:hover {
    text-decoration: none;
    color: #fff;
}

.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
    opacity: .7;
}

.btn-11:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}


.main-catalogo{
    grid-area: main-catalogog;
}

.main-carousel-evangelion{
    grid-area: evangelion-carousel;

}

/*!-----------------------------ASIDE----------------------------------*/

.body-catalogo-grid-container{
    display: grid;
    width: 100%;
    
    grid-template-columns:30% 70%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "evangelion-info evangelion-carousel"
    "aside-catalogo main-catalogog"
    ;
    height: auto;
    background-color: rgb(4, 4, 4);
}

.separador-catalogo{
    width: 100%;
    background-color: #fff;
    height: 90px;
}





.aside{
    grid-area: aside-catalogo;
    background-color: rgb(34, 34, 34);
    
}

.asusrog-evangelion-aside p{
    color: rgb(255, 255, 255);
    text-justify: distribute;
}

.asusrog-evangelion-aside{
    grid-area: evangelion-info;
    display: flex;
    margin-left:10px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
}

.asusrog-evangelion-aside h2 {
    border-bottom: 2px solid rgb(90, 50, 163);
    font-size: 50px;
    font-weight: bold;
    background-image: linear-gradient(to left,
    rgb(90, 50, 163),
    rgb(93, 57, 158),
    rgb(101, 67, 165),
    rgb(111, 78, 173),
    rgb(114, 78, 180),
    rgb(142, 108, 202),
    rgb(196, 101, 118),
    rgb(201, 82, 103 ),
    rgb(203, 28, 59),
    rgb(203, 28, 59),
    rgb(203, 28, 59),
    rgb(203, 28, 59),
    rgb(203, 28, 59),
    rgb(203, 28, 59),
    rgb(203, 28, 59),
    rgb(201, 82, 103 ),
    rgb(196, 101, 118),
    rgb(142, 108, 202),
    rgb(114, 78, 180),
    rgb(111, 78, 173),
    rgb(101, 67, 165),
    rgb(93, 57, 158));
    animation: sliding 2000s linear infinite;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes sliding {
    to {
        background-position: -2000vw;
    }
}

.grid-container-catalogo{
    display: grid;
    width: auto;
    margin: 20px;
    grid-template-columns:49% 49%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "crua-fhd sony-inzone"
    "msi-katana ryzen7"
    "msi-mpg samsung-sr35"
    ;
    grid-row-gap: 20px; 
}

.aside-menu-form{
    grid-area: aside-catalogo;
    list-style: none;
}








.aside-menu-form .aside-caracteristicas form label{
    color: rgb(136, 136, 136);
}

.aside-menu-form .aside-caracteristicas form label{

    transition: all 0.3s ease;
}

.aside-menu-form .aside-caracteristicas form label:hover{
    color: rgb(255, 255, 255);
    padding-left: 3px;
    
}


.barra-separacion-caracteristicas1{
    width: 100%;
    height: 2px;
    background-color: rgb(136, 136, 136);
}


.barra-separacion-caracteristicas{
    width: 70%;
    height: 2px;
    background-color: rgb(136, 136, 136);
}

.boton-aside{
    
    border: 0;
    overflow: visible;
    padding: 0;
    font-size: 21.69px;
    line-height: normal;
    background: none;
    border: 0;
    color: rgb(255, 255, 255);
    -user-select: none; /* for button */
    -appearance: button; /* for input */
    -user-select: none;
    -user-select: none;
    transition: all 0.3s ease;
    
}

.boton-aside:hover{
    padding-left: 5px;
    
}

.flecha-aside{ 
    display: inline-block;
    color: rgb(100, 41, 212);
    transition: all 0.3s ease;
    
}

.flecha-aside:hover{
    color: rgb(100, 41, 212);
    transform: rotate(90deg) !important ; 
    
}





.main-catalogo{
    margin-top: 20px;
        width: 100%;
        grid-row-gap: 20px;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
        grid-template-columns:33% 33% 33%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "nzxt samsung msi"
        "amd intel nvidia"
        "hyperx1 razer1 logitech1"
        "asus corsair1 nzxtpsu"
        ;

    
    display: grid;
    background-color: rgb(4, 4, 4);
}
.main-catalogo div{
    display: flex;
    height: auto;
    width: 302px;
    align-items: baseline;
    justify-self: center;
    flex-direction: column;

    
}

.main-catalogo div img{
    height: 300px;
    width: 300px;
}


.descripcion-grid-catalogo{
    font-weight: bold;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    height: auto;
    width: auto;
    transition: all 0.3s ease;
    
}

.descripcion-grid-catalogo a{
    color: rgb(100, 41, 212);
    transition: all 0.3s ease;
    text-decoration: none;
    
}





.descripcion-grid-catalogo a svg{
    
    height: 20px;
    width: auto;
}

.descripcion-grid-catalogo a:hover{
    color: rgb(77, 31, 163);
    
}

.grid-item-catalogo-nzxt{
    grid-area: nzxt;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);

}

.grid-item-catalogo-samsung{
    grid-area: samsung;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
}

.grid-item-catalogo-msi{
    grid-area: msi;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
}
.grid-item-catalogo-amd{
    grid-area: amd;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
}
.grid-item-catalogo-intel{
    grid-area: intel;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
}
.grid-item-catalogo-nvidia{
    grid-area: nvidia;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
}
.grid-item-catalogo-hyperx{
    grid-area: hyperx1;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
}
.grid-item-catalogo-razer{
    grid-area: razer1;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
}

.grid-item-catalogo-logitech{
    grid-area: logitech1;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
}
.grid-item-catalogo-asus{
    grid-area: asus;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
}
.grid-item-catalogo-corsair{
    grid-area: corsair1;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
}
.grid-item-catalogo-nzxtpsu{
    grid-area: nzxtpsu;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    -moz-box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
    box-shadow: 0px 0px 23px 7px rgba(100,41,212,1);
}



/*TODO-----------------------------FOOTER------------------------------*/


.footer{
    background-color: rgb(4, 4, 4);
    padding: 80px 0;
    height: 600px;
    
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.imagenes-informacion li a img{
    width: 70px;
    height: 70px;
}

.redes-socialesx{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
.redes-socialesx a img{
    width: 70px;
    height: 70px;
    transition: all 0.3s ease-out;
}

.redes-socialesx a img:hover{
    width: 75px;
    height: 75px;
}

.footer-enlaces{
    width: 25%;
    padding: 0 15px;
}

.footer-enlaces h4{
    color: rgb(136, 136, 136);
    font-weight: bold;
    border-bottom: 2px solid rgb(100, 41, 212) ;
    padding-bottom: 10px;
    
}

.footer-enlaces ul li a{
    transition: all 0.3s ease;
    font-size: 17px;
    color: rgb(136, 136, 136);
    text-decoration: none;
    display: block;
    
}

.footer-enlaces ul li a:hover{
    
    
    color: rgb(255, 255, 255);
    padding-left: 5px;
}


.sutu-span-footer{
    color: rgb(100, 41, 212);
    
}

.mapa iframe{
    border-radius: 50px 50px 50px 50px;
    border: 2px solid rgba(100,41,212,1);
    -webkit-border-radius: 59px 59px 59px 59px;
    -moz-border-radius: 59px 59px 59px 59px;
    -webkit-box-shadow: 0px 0px 91px -27px rgba(99, 42, 212, 1);
    -moz-box-shadow: 0px 0px 91px -27px rgba(99, 42, 212, 1);
    box-shadow: 0px 0px 91px -27px rgba(99, 42, 212, 1);
    width: 500px;
    height: 200px;
    margin-left:20px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 10px;
    color: rgb(136, 136, 136);
    width: 100%;
    height: 11px;
}

/*!-----------------------------MEDIA-QUERIES----------------------------------*/


@media screen and (max-width: 1600px) {

    .logo{
        flex-direction: row;
        display: flex;
        justify-content: flex-start;
        margin-left:3%;
        width: 20%;
        margin: 1%;
    }
    .logo img{
        width: auto;
        height: 200px;
        
        
    
    }

    .texto-centrado h1{
        color: rgb(79, 32, 13);
        font-size: 3em;
        text-align: left;
        margin: 1%;
        
    }
    .logo h2 a{
        color: rgb(255, 132, 0);
        font-size: 2em;
        text-align: center;
        text-decoration: none;
    
    }


    
    
    .grids-footer div h3{
        font-size: 20px;
    }
    .TIKTOK a img{
        width: 30px;
        height: auto;
        
    }
    
    .INSTAGRAM a img{
        width: 30px;
        height: auto;
    }
    
    .TWITCH a img{
        width: 30px;
        height: auto;
    }
    .locacion img{
        width: 30px;
        height: auto;
        
    }
    
    .contacto-email img{
        width: 30px;
        height: auto;
    }
    
    .contacto-telefono img{
        width: 30px;
        height: auto;
    }
    .mapa iframe{
        width: 600px;
        height: 300px;
    }
}

@media screen and (max-width: 1000px) {
    .logo img{
        width: auto;
        height: 150px;
        margin: 1%;
        
    
    }

    .texto-centrado h1{
        color: rgb(79, 32, 13);
        font-size: 2.5em;
        text-align: left;
        margin: 1%;
        
    }
    .logo h2 a{
        color: rgb(255, 132, 0);
        font-size: 1.5em;
        text-align: center;
        text-decoration: none;
        margin: 1%;
    }

    .grid-galeria-productos div img{
        width: 70%;
        height: 70%;
        object-fit: cover;
        box-shadow: 1px 0px 20px 15px rgba(71,68,68,0.75);
        -webkit-box-shadow: 1px 0px 20px 15px rgba(71,68,68,0.75);
        -moz-box-shadow: 1px 0px 20px 15px rgba(71,68,68,0.75);
    } 
    
    .grid-item h3{
        position: absolute;
        bottom: 28.7%;
        color: bisque;
        background-color: rgba(0, 0, 0, 0.377);
        width: 70%;
        padding: 5px;
    }

    .grid-galeria-productos{
        max-width:100%;
        margin: 1%;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: repeat(6, 1fr) ;
        gap: 10px;
        
        grid-template-areas: 
        "pc1g"
        "pc4g"
        "pc2g"
        "pc5g"
        "pc3g"
        "pc6g"
        ;
        height: 100%;
    }


    .grids-footer div h3{
        font-size: 16px;
    }
    .TIKTOK a img{
        width: 24px;
        height: auto;
        
    }
    
    .INSTAGRAM a img{
        width: 24px;
        height: auto;
    }
    
    .TWITCH a img{
        width: 24px;
        height: auto;
    }
    .locacion img{
        width: 24px;
        height: auto;
        
    }
    
    .contacto-email img{
        width: 24px;
        height: auto;
    }
    
    .contacto-telefono img{
        width: 24px;
        height: auto;
    }
    .mapa iframe{
        width: 400px;
        height: 300px;
    }
}

@media screen and (max-width: 800px) {
    .logo img{
        width: auto;
        height: 100px;
        margin: 1%;
        
    
    }

    .texto-centrado h1{
        color: rgb(79, 32, 13);
        font-size: 2em;
        text-align: left;
        margin: 1%;
        
    }
    .logo h2 a{
        color: rgb(255, 132, 0);
        font-size: 1em;
        text-align: center;
        text-decoration: none;
        margin: 1%;
    }


    .grids-footer div h3{
        font-size: 24px;
    }
    .TIKTOK a img{
        width: 24px;
        height: auto;
        
    }
    
    .INSTAGRAM a img{
        width: 24px;
        height: auto;
        
    
    }
    
    .TWITCH a img{
        width: 24px;
        height: auto;
        
        
    
    }


    .locacion img{
        width: 24px;
        height: auto;
        
    }
    
    .contacto-email img{
        width: 24px;
        height: auto;
    }
    
    .contacto-telefono img{
        width: 24px;
        height: auto;
    }
    .mapa iframe{
        width: 1fr;
        height: 200px;
    }
    .grids-footer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        
        grid-template-columns:1fr;
        grid-template-rows: 100px 100px repeat(6, 50px);
        grid-template-areas: 
        "mapag"
        "mapag"
        "direcciong" 
        "emailg" 
        "telefonog" 
        "tiktokg"
        "instagramg"
        "twitchg"
        ;
        height: 90%;
    }
    .locacion{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
        
        
    }
    
    .contacto-email{
        display: flex;
        flex-direction: row;
        
        align-items: flex-start;
    }
    
    .contacto-telefono{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
    }
    .TIKTOK{
        display: flex;
        align-items: center; 
        justify-content: center;
        
    }
    
    .INSTAGRAM{
        display: flex;
        align-items: center; 
        justify-content: center;
    }
    
    .TWITCH{
        display: flex;
        align-items: center; 
        justify-content: center;
    }
}