main{
    .texto-recomendacion{ 
        p{
            font-size: 30px;
            .SuTu-palabra-recomendacion{
                font-size: 47px;
                .morado-sutu{
                    font-size: 47px;
                }
            }
        }
    }
    section{
        #carousels{
            .carousel-inner{
                .carousel-item{
                    .carousel-caption{
                        h5{
                            font-size: 50px;
                            font-weight: bold;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
} 



main{
    #destacados-grid{
        .destacados-grid-container{
            margin: 20px;
            grid-template-columns:99%;
            grid-template-rows: repeat(auto,6);
            grid-template-areas: 
            "crua-fhd"
            "sony-inzone" 
            "msi-katana"
            "ryzen7" 
            "msi-mpg"
            "samsung-sr35" 
            ;
            grid-row-gap: 20px; 
            img{
                width: 300px;
                height: auto;
            }
            p{
                font-size: 17px;
            }
        }
        .texto-desctacado-grid{
            img{
                width: 90px;
                height: auto;
                
            }
            h3{
                font-size: 25px;
                color: rgb(255, 255, 255);
                text-decoration: underline rgb(100, 41, 212);
            }
            
        }
    } 
}

.custom-btn1 {
    width: 300px;
    height: 30px;
    font-size: 13px;
}

main{
    .contenedor-corsair{
        height: 64vh;
        width: 100%;
        a{
            button{
                span{
                    font-size:17px;
                }
            }
        }
        .texto-corsair-1{
            font-size: 40px;
        }
        .texto-corsair-2{
            font-size: 20px;
        }
    }   
    .contenedor-razer{
        height: 64vh;
        width: 100%;
        a{
            button{
                span{
                    font-size: 20px;
                }
            }
        }
        .texto-razer-1{
            font-size: 40px;
        }
        .texto-razer-2{
            font-size: 20px;
        }
    } 
    .contenedor-logitech{
        height: 64vh;
        width: 100%;
        a{
            button{
                span{
                    font-size:25px;
                }
            }
        }
        .texto-logitech-1{
            font-size: 40px;
        }
        .texto-logitech-2{
            font-size: 20px;
        }
    } 
} 
.custom-btn {
    width: 300px;
    height: 30px;
}

.custom-btn1 {
    width: 400px;
    height: 30px;
    font-size: 21px;
}





/*?-----------------------------Catalogo----------------------------------*/
.body-catalogo-grid-container{
        grid-template-columns:100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "evangelion-info"
        "evangelion-carousel"
        "aside-catalogo"
        "main-catalogog"
        ;
        background-color: rgb(4, 4, 4);
    .main-catalogo{
        grid-template-columns:100%;
        grid-template-rows: repeat(auto,12);
        grid-template-areas: 
        "nzxt"
        "samsung"
        "amd"
        "msi"
        "intel"
        "nvidia"
        "hyperx1"
        "razer1" 
        "asus"
        "logitech1"
        "corsair1"
        "nzxtpsu"
        ;
    display: grid;
    background-color: rgb(4, 4, 4);
        div{
            width: 200px;
            img{
                height: 200px;
                width: 200px;
            }
            div{
                h6{
                    font-size: 10px;
                }
                h5{
                    font-size: 15px;
                }
            }
        } 
    } 
}    

main{
    .nosotros-texto{
        h2{
            font-size: 80px;
            img{
                width: 150px;
                height: auto;
                }
        }
    } 
}    

        
/**-----------------------------FOOTER----------------------------------*/
    .footer{
        height: auto;
        .contenedor-footer{
            .mapa{
                iframe{
                    border-radius: 50px 50px 50px 50px;
                    border: 2px solid rgba(100,41,212,1);
                    -webkit-border-radius: 59px 59px 59px 59px;
                    -moz-border-radius: 59px 59px 59px 59px;
                    -webkit-box-shadow: 0px 0px 91px -27px rgba(99, 42, 212, 1);
                    -moz-box-shadow: 0px 0px 91px -27px rgba(99, 42, 212, 1);
                    box-shadow: 0px 0px 91px -27px rgba(99, 42, 212, 1);
                    width: 200px;
                    height: 100px;
                    margin-left:40px;
                }
            } 
            .row-footer{
                display: flex;
                flex-direction: column;
                .footer-enlaces{
                    width: 100%;
                    height: auto;
                    h4{
                        font-size: 20px;
                    }
                    .redes-socialesx{
                        flex-direction: row;
                        justify-content: space-around;
                        a{
                            img{
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                    .imagenes-informacion{
                        li{
                            a{
                                img{
                                    width: 50px;
                                    height:50px;
                                }
                            }
                        }
                    }
                    ul{
                        li{
                            a{
                                font-size: 15px;     
                            }
                        }
                    }
                }
            }
        }
        .copyright{
            margin-top: 4%;
            justify-content: center;
            align-items: end;
        }
    }

    main{
        .contenedor-flex-carrito{
            display: flex;
            margin-left: 10%;
            margin-right: 10%;
            flex-direction: column;
            margin-bottom: 6%;
            justify-content: space-evenly;
            align-items: center;
            .item-flex-carrito{
                width: 300px;
                height: 400px;
                img{
                    width: 300px;
                    height: 300px;
                }
                .boton-añadir-carritoz{
                    margin-left: 17%;
                    margin-top: 20px;
                }
            }
        }
        
    }

main{
    .ubicacion{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        div{
            iframe{
            width: 300px;
            height: 300px;
            }
        }
    }
    .contactos{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .banner-contacto{
        .titulo-contacto{
            h2{
                font-size: 40px;
            }
        } 
    } 
}
