main{
    .division-carrito{
        background-color: rgb(34, 34, 34);
        width: 100%;
        height: 60px;
    }
    .cosa-carrito{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            color: rgb(255,255,255);
        }
        p{
            color: rgb(255,255,255);
        }
    }
    .titulo-carrito{
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
        h4{
            color: rgb(255,255,255);
            border-top: 2px    solid rgb(100, 41, 212);
            border-right-width: 3px;
            img{
                width: 80px;
                height: auto;
            }
        }
        
    }
    .contenedor-flex-carrito{
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .item-flex-carrito{
            width: 350px;
            height: 430px;
            background-color: rgb(136, 136, 136);
            -webkit-box-shadow: 0px 0px 14px 15px rgba(100,41,212,0.46);
            -moz-box-shadow: 0px 0px 14px 15px rgba(100,41,212,0.46);
            box-shadow: 0px 0px 14px 15px rgba(100,41,212,0.46);
            .boton-añadir-carritoz{
                width: 200px;
                height: 40px;
                font-size: 20px;
                background-color: transparent;
                border-color:  rgb(100, 41, 212);
                text-align: center;
                border-radius: 7%;
                transition: all 0.2s ease-out;
                margin-left: 75px;
                margin-top: 20px;
                a{
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                }
                &:hover{
                    background-color: rgba(76, 33, 155, 0.267);
                    color: rgb(180, 180, 180);
                }
            }
            img{
                width: 350px;
                height: 350px;
            }
        }
    }
}