main{
    .banner-contacto{
        background-image: url(../img/banner-contacto.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        .titulo-contacto{
            color: #fff;
            h2{
                font-weight: bold;
                font-size: 90px;
                color: rgb(255, 255, 255);
                animation: Entrar-Arriba 2s ease;
            }
        }
    }
    .separacion-contacto1{
        width: 100%;
        height: 120px;
        background-color: rgb(34, 34, 34);
    }
    .ubicacion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        h3{
            font-weight: bold;
            color:rgb(255, 255, 255);
            text-decoration: underline 2px rgb(100, 41, 212);
            animation: Entrar-Izquierda 4s ease;
        }
        div{
            color: aliceblue;
            h4{
                .morado-93{
                    color: rgb(100, 41, 212);
                    font-weight: bold;
                }
            }
            iframe{
                color: aliceblue;
            }
        }
    }
    .separacion-contacto2{
        width: 70%;
        height: 2px;
        margin-top: 2%;
        margin-left: 15%;
        margin-bottom: 2%;
        background-color: #fff;
    }
    .contactos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: #fff;
        h3{
            font-weight: bold;
            color:rgb(255, 255, 255);
            text-decoration: underline 2px rgb(100, 41, 212);
            animation: Entrar-Izquierda 4s ease;
        }
        div{
            ul{
                list-style: none;
                margin: 0px;
                padding: 0px;
                li{
                    a{
                        text-decoration: none;
                        color:rgb(255, 255, 255);
                        transition: all 0.3s ease;
                        margin: 0%;
                        &:hover{
                            color:rgb(167, 167, 167);
                        }
                    }
                }
            }
        }
        .informacion{
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items: flex-start;
            ul{
                li{
                    margin: 0px;
                    margin-bottom: 10px;
                    padding: 0px;
                }
            }
        }
    }
}