header{
    background-color: $color-secundario;
    position: sticky;
    top: 0;
    z-index: 3;
    .barra-principal{
        .container-fluid{
            button{
                background-color: $color-principal;
                color: $color-cuaternario;
            }
            a{
                font-family: "Josefin Sans", sans-serif;
                font-size: medium;
                text-decoration: none;
                color: $color-cuaternario;
                transition: all 0.2s ease;
                img{
                    height: 100px;
                    width: auto;
                }
                &:hover{
                    color: $color-quinario;
                    padding: 6px;
                }
            }
            div{
                ul{
                    list-style-type: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                    flex-direction: row;
                    li{
                        margin: 0.75rem;
                    }
                    div{
                        form{
                            width: 400px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}